body {
  height: 2000px;
}

.header {
  height: 150px;
  width: 100%;
  padding: 10px;
  background: white;
  display: flex;
  position: fixed;
  top: 0;
  opacity: .9;
}


.nav-link {
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  font-family:lato;
  font-size: 20px;

}

.nav-link a {
  text-decoration: none;
  color: black;
}

.hero {
	width: 100%;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
  font-family:lato;
}

.meet-overlay {
  position: absolute;
  background-color: #F5A032;
  color: white;
  font-family:Oswald;
  margin-left: 42%;
  margin-top: 0%;
  /*padding-left: 15px;
  padding-right: 15px;*/
  padding: 15px 25px 15px 25px;
  font-weight: 100;
  font-size: 35px;
}

.grid-item {
  width: 50%;
}

.about-image {
  background-color: #EAE3CC;
}

.about {
  display: flex;
  margin-top: 125px;
  flex-direction: column;
}

.about-inner-content {
  margin-left: 40px;
}

.about-inner-cassandra {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  align-items: flex-end;
  text-align: right;
}

.get-in-touch {
  color: #f4a742;
  font-style: italic;
  font-size: 16px;
  text-decoration: none;
}

.name {
  font-size: 20px;
  margin-bottom: 0px;
  color: #996666
}

.position {
  color: #996666;
  font-weight: 100;
  margin-top: 0px;
}

.basso {
  display: flex;
  align-items: flex-end;
}

.custum-about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #996666;
  color: white;
  font-family:lato;
  width: 100%;
}

.custum-about-link{
  /*text-decoration: none;*/
  color: white;
  font-style: italic;
  font-weight: 400;
}
.custum-about-page h2 {
  font-size: 23px;
  font-weight: 700;
  margin-right: 5px;
}

.custum-about-page h3 {
  font-size: 23px;
  font-weight: 300;
}

footer {
  background-color: #be5f27;
  
}


/*.footer-address, .footer-hours {
  font-family: Oswald,
  color: white;
}*/

.footer-address {
  font-family:Oswald;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;  
  height: 240px;
  width: 100%;
}

/*the following styles will be for the custom order page*/


.customize-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*align-content: center;*/
  background-color: #EAE3CC;
  font-family:lato;
}

.customize-labels {
  color: #996666;
}

.customize-it {
  background-color: #F5A032;
  padding-left: 15px;
  padding-right: 15px;

  color: white;
  font-family:Oswald;
  font-weight: 100;
}

/*custom form page styles*/

.custom-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 400px;
}

.details-field {
  width: 400px;
  height: 150px;
}


/*hours styles*/



.hours-flex {
  display: flex;
  flex-direction: row;
  /*align-content: stretch;*/
  /*align-items: stretch;*/
  /*justify-content: stretch;*/
  align-items: center;
  /*justify-content: center;*/
}


.hours-flex-item {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  height: 400px;
}

.hours-flex-content {
  margin-top: 100px;
  font-family:lato;
}

.hours {
  background-color: #EAE3CC; 
  /*font-family:lato;*/
  color: #996666;
  font-size: 25px;
  font-weight: 100;
}

.hours-about {
  font-size: 20px;
  font-weight: 100;
}

.learn-more {
  font-style: italic;
  color: #f4a742;
}

/*index page*/


.index-hours {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*justify-content: space-between;*/
  align-items: center;
  height: 200px;
  color: white;
  background-color: #996666;
  color: white;
  font-family:lato;
  font-size: 30px;
  text-decoration: none;
}

.index-cakes {
  display: flex;
  flex-direction: row;
}

.get-your-fix {
  position: absolute;
  background-color: #F5A032;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-family:Oswald;
  font-weight: 100;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: 550px;
  margin-top: 0px;
}

.index-cake-flex {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
  height: 500px;
}

#cake-icon {
  margin-bottom: 25px;
  margin-left: 35px;
}

.index-cake-list {
  background-color: #EAE3CC; 
  /*font-family:lato;*/
  color: white;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.1em;
  line-height: .7em;
  text-align: center;
}

.index-cake-content {
  margin-top: 100px;
  font-family:lato;
}

.index-cake-content li {
  text-decoration: none;
}

.index-about {
  font-size: 20px;
  font-weight: 100;
}

.baked-with-love {
  color: #bbbdbf;
  font-family: lato;
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  line-height: .7em;
  letter-spacing: -0.1em;
}

#heart-icon {
  margin-top: 125px;
  margin-bottom: -35px;
}

.scratch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}













