.header {
  height: 100px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: lightgrey;
  display: flex;
  position: fixed;
  top: 0;
  opacity: .9;
}


.nav-link {
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-grow: 1;
  text-decoration: none!impoprtant;
  align-items: center;
}

.hero {
	width: 100%;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
  height: 1419px;
}
.grid-item {
  width: 50%;
}

/*.about {
  width: 40%;
}*/
/*.grid-item:nth-child(odd) {
  background: #F00;
  flex: 0 0 50px;
}*/

/*.riley {
	width: 50%;
	/*display: inline-block;*/
	/*height: 473px;*/
	
}

/*.rileyy {
	display: flex;
	flex-direction: row;
}*/

/*.riley-about {
	display: flex;
	justify-content: center;
}*/