body {
  height: 2000px;
}

.header {
  height: 100px;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: lightgrey;
  display: flex;
  position: fixed;
  top: 0;
  opacity: .9;
}


.nav-link {
  width: 100px;
  float: right;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  flex-grow: 1;
  text-decoration: none!impoprtant;
  align-items: center;
  font-family:lato;
}

.hero {
	width: 100%;
}


.flex-grid {
  display: flex;
  flex-wrap: wrap;
  height: 1419px;
  font-family:lato;
}

.grid-item {
  width: 50%;
}

.about {
  width: 40%;
  display: flex;
  margin-top: 125px;
  flex-direction: column;
  
}

.get-in-touch {
  color: #f4a742;
  font-style: italic;
  font-size: 16px;
  text-decoration: none;
}

.name {
  font-size: 20px;
  margin-bottom: 0px;
  color: #996666
}

.position {
  color: #996666;
  font-weight: 100;
  margin-top: 0px;
}

.basso {
  display: flex;
  align-items: flex-end;
}

.custum-about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #996666;
  color: white;
  font-family:lato;
}

.custum-about-link{
  /*text-decoration: none;*/
  color: white;
  font-style: italic;
  font-weight: 400;
}
.custum-about-page h2 {
  font-size: 23px;
  font-weight: 700;
  margin-right: 5px;
}

.custum-about-page h3 {
  font-size: 23px;
  font-weight: 300;
}

footer {
  background-color: #be5f27;
  
}


/*.footer-address, .footer-hours {
  font-family: Oswald,
  color: white;
}*/

.footer-address {
  font-family:Oswald,
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;  
  height: 240px;
}

/*the following styles will be for the custom order page*/


.customize-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*align-content: center;*/
  background-color: #EAE3CC;
  font-family:lato;
}

.customize-labels {
  color: #996666;
}

.customize-it {
  background-color: #F5A032;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-family:Oswald;
  font-weight: 100;
}





